@{
  Layout = "_Layout";
}

@model ToDoList.Models.Item

<div class="jumbotron text-center">
  <h2>Add a new item</h2>
</div>
<div>
  @using (Html.BeginForm())
  {
    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)

    @Html.Label("Select Category")
    @Html.DropDownList("CategoryId")

    <button type="submit" class="btn btn-primary">Add new item</button>
  }
  <p>@Html.ActionLink("Show all items", "Index")</p>
</div>