@{
  Layout = "_Layout";
}

@model ToDoList.Models.Item

<div class="jumbotron text-center">
  <h2>Are you sure you want to delete this?</h2>
</div>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          @Html.ActionLink("Home", "Index", "Home", null, new { @class="nav-link" })
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#!" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Category
          </a>
          <ul class="dropdown-menu">
            <li>@Html.ActionLink("All Categories", "Index", "Categories", null, new { @class="dropdown-item" })</li>
            <li>@Html.ActionLink("Add New Category", "Create", "Categories", null, new { @class="dropdown-item" })</li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#!" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Item
          </a>
          <ul class="dropdown-menu">
            <li>@Html.ActionLink("All Items", "Index", "Items", null, new { @class="dropdown-item" })</li>
            <li>@Html.ActionLink("Add New Item", "Create", "Items", null, new { @class="dropdown-item" })</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<hr />
<div>
  @Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)
  @using (Html.BeginForm())
  {
      <input type="submit" value="Delete" />
  }
  @Html.ActionLink("Back to List", "Index")
</div>