@{
  Layout = "_Layout";
}

@model ToDoList.Models.Item

<div class="jumbotron text-center">
  <h2>Details of @Html.DisplayFor(model => model.Description) </h2>
</div>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          @Html.ActionLink("Home", "Index", "Home", null, new { @class="nav-link" })
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#!" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Category
          </a>
          <ul class="dropdown-menu">
            <li>@Html.ActionLink("All Categories", "Index", "Categories", null, new { @class="dropdown-item" })</li>
            <li>@Html.ActionLink("Add New Category", "Create", "Categories", null, new { @class="dropdown-item" })</li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#!" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Item
          </a>
          <ul class="dropdown-menu">
            <li>@Html.ActionLink("All Items", "Index", "Items", null, new { @class="dropdown-item" })</li>
            <li>@Html.ActionLink("Add New Item", "Create", "Items", null, new { @class="dropdown-item" })</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<hr />
<div>
  @Html.Label("Due Date")
  @Html.DisplayFor(model => model.DueDate)

  @Html.Label("Completed")
  @Html.DisplayFor(model => model.IsCompleted)
</div>
<div>
  @if(@Model.JoinEntities.Count == 0)
  {
    <p>This item does not belong to any categories</p>
  }
  else
  {
    @foreach(var join in Model.JoinEntities)
    {
      @using (Html.BeginForm("DeleteCategory", "Items"))
      {
        @Html.Hidden("joinId", @join.CategoryItemId)
        <button type="submit" class="btn btn-outline-danger">Remove this item from @join.Category.Name</button>
      }
    }
  }

  <p>@Html.ActionLink("Add a Category", "AddCategory", new { id = Model.ItemId })</p>
  <p>@Html.ActionLink("Edit Item", "Edit", new { id = Model.ItemId })</p>
  <p>@Html.ActionLink("Delete Item", "Delete", new { id = Model.ItemId })</p>
  <p>@Html.ActionLink("Back to list", "Index")</p>
</div>