@{
  Layout = "_Layout";
}

@model ToDoList.Models.Item

  <div class="jumbotron text-center">
    <h2>Edit @Html.DisplayFor(model => model.Description)</h2>
  </div>
<div>
  @using (Html.BeginForm())
  {
      @Html.HiddenFor(model => model.ItemId)

      @Html.LabelFor(model => model.Description)
      @Html.EditorFor(model => model.Description)

      @Html.Label("Due Date")
      @Html.EditorFor(model => model.DueDate, new { type = "date" })

      @Html.Label("Completed")
      @Html.EditorFor(model => model.IsCompleted)

      @Html.Label("Select Category")
      @Html.DropDownList("CategoryId")

      <input type="submit" value="Save" />
  }
  <p>@Html.ActionLink("Back to list", "Index")</p>
</div>