@{
  Layout = "_Layout";
}

@using ToDoList.Models;

<div class="jumbotron text-center">
  <h2>Categories List</h2>
</div>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          @Html.ActionLink("Home", "Index", "Home", null, new { @class="nav-link" })
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#!" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Category
          </a>
          <ul class="dropdown-menu">
            <li>@Html.ActionLink("All Categories", "Index", "Categories", null, new { @class="dropdown-item" })</li>
            <li>@Html.ActionLink("Add New Category", "Create", "Categories", null, new { @class="dropdown-item" })</li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#!" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Item
          </a>
          <ul class="dropdown-menu">
            <li>@Html.ActionLink("All Items", "Index", "Items", null, new { @class="dropdown-item" })</li>
            <li>@Html.ActionLink("Add New Item", "Create", "Items", null, new { @class="dropdown-item" })</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<hr />
<div>
  @if (@Model.Count == 0)
  {
    <h3>No categories have been added yet!</h3>
  } 

  @foreach (Category category in Model)
  {
     <li>@Html.ActionLink($"{category.Name}", "Details", new { id = category.CategoryId })</li>
  }

  <p>@Html.ActionLink("Add new category", "Create")</p>
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>